<% for(var i=0; i<data.length; i++) {%>
    <tr class="iedit">
        <td class="row-selector text-center">
            <div class="checkbox checkbox-inline checkbox-styled">
                <label>
                    <input type="checkbox" class="checkItem" value="<%=data[i].id%>"><span></span>
                </label>
            </div>
        </td>
        <td><%=data[i].id%></td>
        <td>
            <div><%=data[i].name%></div>
            <div class="row-actions">
                <span class="edit"><i class="fa fa-edit"></i> <a href="<%=basePath%>category/category_form/<%=data[i].id%>" title="Edit this item">Edit</a> | </span>
                <span class="trash"><i class="fa fa-trash-o"></i> <a class="submitdelete" title="Move this item to the Trash" href="#" id="<%=data[i].id%>">Trash</a> | </span>
                <span class="view"><i class="fa fa-eye"></i> <a href="<%=basePath%>category/category_view/<%=data[i].id%>" title="View Child" rel="permalink">View Child</a></span>
            </div>
        </td>
        <td><%=data[i].description%></td>
        <td class="pointer dragHandle center">
            <div class="dragGroup">
                    <button type="button" class="btn btn-link move-row ui-sortable-handle" categoryid="<%=data[i].id%>" value="<%=data[i].position%>">
                    <i class="fa fa-arrows fa-lg"></i></button>
            </div>
        </td>
        <td>
            <input id="switch-state" type="checkbox" class="displayed" categoryid="<%=data[i].id%>" <%=(data[i].displayed == '1')?'checked="checked"':''%>/>
        </td>
    </tr>
    <%
}
%>
