<% for(var i=0; i<data.length; i++) {%>
    <tr class="iedit">
        <td class="row-selector text-center">
            <div class="checkbox checkbox-inline checkbox-styled">
                <label>
                    <input type="checkbox" class="checkItem" value="<%=data[i].id%>"><span></span>
                </label>
            </div>
        </td>
        <td><%=data[i].id%></td>
        <td>
            <div><%=data[i].name%></div>
            <div class="row-actions">
                <span class="edit"><i class="fa fa-edit"></i> <a href="<%=basePath%>product/product_form/<%=data[i].id%>" title="Edit this item">Edit</a> | </span>
                <span class="trash"><i class="fa fa-trash-o"></i> <a class="submitdelete" title="Move this item to the Trash" href="#" id="<%=data[i].id%>">Trash</a> | </span>
            </div>
        </td>
        <td><%=data[i].category%></td>
        <td><%=data[i].price%></td>
        <td><%=data[i].quantity%></td>
        <td>
            <input id="switch-state" type="checkbox" class="displayed" categoryid="<%=data[i].id%>" <%=(data[i].displayed == '1')?'checked="checked"':''%>/>
        </td>
    </tr>
    <%
}
%>
