<% for(var i=0; i<data.length; i++) {%>
    <tr class="iedit">
        <td class="row-selector text-center">
            <div class="checkbox checkbox-inline checkbox-styled">
                <label>
                    <input type="checkbox" class="checkItem" value="<%=data[i].id%>"><span></span>
                </label>
            </div>
        </td>
        <td><%=data[i].id%></td>
        <td>
            <div><%=data[i].name%></div>
            <div class="row-actions">
                <span class="edit"><i class="fa fa-edit"></i> <a href="<%=basePath%>product/product_form/<%=data[i].id%>" title="Edit this item">Edit</a> | </span>
                <span class="trash"><i class="fa fa-trash-o"></i> <a class="submitdelete" title="Move this item to the Trash" href="#" id="<%=data[i].id%>">Trash</a> | </span>
            </div>
        </td>
        <td><%=data[i].category%></td>
        <td><%=data[i].price%></td>
        <td><%=data[i].quantity%></td>
        <td>
            <input id="switch-state" type="checkbox" name="displayed" categoryid="<%=data[i].id%>" <%=(data[i].displayed == '1')?'checked="checked"':''%>/>
        </td>
    </tr>
    <%
}
%>
<script>
$(document).ready(function(){
    
    doSortTableRow();
    $('.row-actions').hide();
    $("[name='displayed']").bootstrapSwitch();
    $("[name='displayed']").on('switchChange.bootstrapSwitch', function(event, state) {
        var categoryid = $(this).attr("categoryid");
        var displayed = ($(this).attr("checked")=='checked')?1:0;
        var url = basePath+"product/ajax_product_displayed";
        var callbackName = "statusDisplay";
        var obj = new Object();
        obj.id = categoryid;
        obj.displayed = displayed;    
        callAjax(obj, url, callbackName);
    });

    $(".iedit").mouseover(function(){
        $('.row-actions').hide();
        $(this).find('.row-actions').show();
    });

});

function doSortTableRow(){
    $("#category-table").sortable({
    	handle:'button.move-row',
        helper: fixWidthHelper,
    	cancel: '',
    	update: function(event, ui) {
            var newProps = new Array(0);
            $('.iedit').each(function(i) { 
                var sortNum = $(this).find('button.move-row').val();
                var categoryid = $(this).find('button.move-row').attr('categoryid');

                var obj = new Object();
                obj.categoryid = categoryid;
                obj.sortNum = sortNum;
                
                newProps.push(obj);
            });
            //alert(JSON.stringify(newProps));
            var callbackName = "updateSortPosition";
            callAjax(newProps, updateSortPosition, callbackName);
    	}
    });
}

function fixWidthHelper(e, ui) {
    ui.children().each(function() {
        $(this).width($(this).width());
    });
    return ui;
}
</script>